name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ] # ou master selon ton repo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/app:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/app:latest
