name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Nom de la branche à builder'
        required: true
        default: 'master'
      version:
        description: 'Version / tag de l’image'
        required: true
        default: 'latest'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}  # Checkout de la branche choisie

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/moussa-goita/my-nginx
          VERSION=${{ github.event.inputs.version }}
          docker build . -t $IMAGE_NAME:$VERSION

      - name: Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/moussa-goita/my-nginx
          VERSION=${{ github.event.inputs.version }}
          docker push $IMAGE_NAME:$VERSION
